@import '@/assets/scss/variables.scss';

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// Landing page tweaks

.jumbotron {
  @include media-breakpoint-up(md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: #3a1c71; /* fallback for old browsers */
    background: linear-gradient(
      60deg,
      #3a1c71 40%,
      #f25f5c,
      #ffaf7b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  background: linear-gradient(
    165deg,
    #3a1c71 40%,
    #f25f5c,
    #ffaf7b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  p,
  h1 {
    color: #ffffff;
  }
}

.bg-mainpage {
  @include media-breakpoint-up(md) {
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;

    .nav-link {
      color: #ffffff !important;
    }
  }

  border: none;
  background: theme-color('primary');
}

.bg-dark-custom {
  background: #1b0d34;
}

// Multiselect style overrides

.multiselect__tag,
.multiselect__option--highlight,
.multiselect__option--highlight::after {
  background: theme-color('primary');
}

.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight::after {
  background: theme-color('danger');
}

.multiselect__tag-icon:hover {
  background: darken($color: theme-color('primary'), $amount: 10);
}

.multiselect__tags {
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  border-style: solid;
}

.multiselect__tag-icon:after {
  color: theme-color('secondary');
}

.multiselect__placeholder {
  color: $input-placeholder-color;
}

// DatePicker css overrides

.vdp-datepicker__calendar .cell.selected {
  background: theme-color('primary') !important;
  color: #ffffff;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid theme-color('primary') !important;
}

.vdp-datepicker__calendar .cell {
  border-radius: $border-radius !important;
}

.vdp-datepicker__calendar {
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  border-style: solid;
}

.vdp-datepicker__calendar header .prev:not(.disabled),
.vdp-datepicker__calendar header .next:not(.disabled),
.vdp-datepicker__calendar header .up:not(.disabled) {
  border-radius: $input-border-radius !important;
}

// Css animations

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// Custom Shadows

.shadow-t {
  box-shadow: 0 -0.5rem 2rem rgba($black, 0.075);
}
