<template>
  <div class="container-fluid">
    <div class="row d-flex m-0 justify-content-center">
      <div
        v-if="!appointment"
        class="col-12 col-md-4 justify-content-center pt-4"
      >
        <b-spinner label="Loading..."></b-spinner>
      </div>
      <div v-else class="col-12 col-md-4 pt-4">
        <p>
          Name: {{ appointment.name }} <br />
          Created: {{ new Date(appointment.createdAt).toLocaleString() }}
        </p>

        <RenderTranscript :transcript="appointment.revaiData" />
      </div>
    </div>
  </div>
</template>

<script>
import RenderTranscript from '@/components/RenderTranscript'

export default {
  middleware: 'auth',
  components: {
    RenderTranscript
  },
  data() {
    return {
      id: this.$route.params.id,
      appointment: null
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      // console.log(this.$route.params.id)
      const res = await this.$axios.$get(`/api/v1/appointment/${this.id}`)
      this.appointment = res
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
