<template>
  <p>
    <TranscriptElement
      v-for="(element, i) in monologue.elements"
      :key="i"
      :element="element"
    />
  </p>
</template>

<script>
import TranscriptElement from './TranscriptElement'

export default {
  props: ['monologue'],
  components: {
    TranscriptElement
  }
}
</script>

<style lang="scss" scoped>
</style>
