<template>
  <div>
    <b-navbar toggleable="md" type="dark" :variant="variant">
      <b-navbar-brand to="/">Blah Blah</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <template v-if="!$auth.loggedIn">
            <b-nav-item to="/login" active-class="active">Login</b-nav-item>
            <b-nav-item to="/register" active-class="active"
              >Register</b-nav-item
            >
          </template>
          <template v-else>
            <b-nav-item to="/appointment/new" active-class="active"
              >New Appointment</b-nav-item
            >
            <b-nav-item-dropdown right>
              <template slot="button-content">{{
                $auth.user.fullname
              }}</template>
              <b-dropdown-item to="/profile" active-class="active"
                >Profile</b-dropdown-item
              >
              <b-dropdown-item href="#" @click="logout">Logout</b-dropdown-item>
            </b-nav-item-dropdown>
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$auth.logout()
    }
  },
  computed: {
    variant() {
      if (this.$route.path === '/') {
        return 'mainpage'
      }

      return 'dark-custom'
    }
  }
}
</script>

<style scoped></style>
