<template>
  <div>
    <div v-for="(monologue, i) in transcript.monologues" :key="i">
      <Monologue :monologue="monologue" />
    </div>
  </div>
</template>

<script>
import Monologue from './Monologue'
export default {
  props: ['transcript'],
  components: {
    Monologue
  }
}
</script>

<style lang="scss" scoped>
</style>
