<template>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-4 pt-5">
        <b-form @submit.prevent="submit">
          <b-form-group
            id="input-group-1"
            label="Appointment Name:"
            label-for="input-1"
            description="Name of your appointment"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              type="text"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="Recording:"
            label-for="input-2"
          >
            <b-form-file
              placeholder="Choose a file..."
              drop-placeholder="Drop file here..."
              id="input-2"
              accept="audio/mpeg"
              v-model="file"
            ></b-form-file>
          </b-form-group>

          <b-button variant="outline-primary" type="submit" class="w-100"
            >Upload the recording</b-button
          >
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      file: null,
      name: null
    }
  },
  methods: {
    async submit() {
      const formData = new FormData()
      formData.append('recording', this.file)
      formData.append('name', this.name)
      const res = await this.$axios.post('/api/v1/appointment', formData)
      console.log(res)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
