<template>
  <div class="container-fluid w-100">
    <div class="row w-100 justify-content-center m-0">
      <div class="col-12 col-md-4 justify-content-center pt-4">
        <b-list-group>
          <b-list-group-item
            v-for="a in appointments"
            :key="a._id"
            :to="`/appointment/${a._id}`"
            >{{ a.name }}</b-list-group-item
          >
        </b-list-group>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      appointments: []
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      const res = await this.$axios.get('/api/v1/appointment/')
      this.appointments = res.data
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
