<template>
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div
        class="col-12 col-md-5 d-flex flex-column align-items-center justify-content-center justify-content-md-start h-100 pt-4"
      >
        <b-button
          variant="outline-primary"
          size="lg"
          class="w-100"
          to="/appointment/create"
          >Upload the recording</b-button
        >
        <h1 class="my-3">or</h1>
        <b-button
          variant="outline-primary"
          size="lg"
          class="w-100"
          to="/appointment/record"
          >Record the appointment</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'full-page',
  middleware: 'auth'
}
</script>

<style lang="scss" scoped>
</style>
