<template>
  <div class="global-container">
    <Navbar ref="navbar" />
    <div class="nuxt-wrapper" :style="styleObject">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue'

export default {
  components: {
    Navbar
  },
  data() {
    return {
      styleObject: {
        height: '12px;'
      }
    }
  },
  mounted() {
    this.styleObject.height =
      window.innerHeight - this.$refs.navbar.$el.clientHeight + 'px'

    window.addEventListener('resize', () => {
      this.styleObject.height =
        window.innerHeight - this.$refs.navbar.$el.clientHeight + 'px'
    })
  }
}
</script>

<style scoped>
.global-container {
  height: 100vh;
}

.nuxt-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
