<template>
  <section class="w-100">
    <b-jumbotron
      header="Blah"
      lead="Smaller blah"
      class="mb-0"
      fluid
    >
      <b-button variant="outline-secondary" to="/123"
        >Click me</b-button
      >
    </b-jumbotron>

  </section>
</template>

<script>
export default {
  components: {}
}
</script>

<style></style>
