<template>
  <section class="container h-100">
    <div class="row">
      <div class="col-12 col-lg-4 mx-auto">
        <b-card class="mt-5">
          <h3>Login</h3>

          <b-form @submit.prevent="onSubmit">
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="email"
                type="email"
                required
                placeholder="Enter email"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Password:"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="password"
                type="password"
                required
                placeholder="Enter password"
              ></b-form-input>
            </b-form-group>

            <div v-if="error" class="text-danger mb-3">{{ error }}</div>
            <b-button type="submit" variant="primary">Submit</b-button>
          </b-form>
        </b-card>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,

      error: null
    }
  },
  layout: 'full-page',
  methods: {
    async onSubmit() {
      this.error = null

      const res = await this.$axios.$post('/api/v1/auth/login', {
        email: this.email,
        password: this.password
      })

      if (!res.success) {
        this.error = res.error
      } else {
        this.$auth.setUserToken(res.token)
      }
    }
  }
}
</script>

<style scoped></style>
